.App {
  padding: 0;
  height: 100vh;
  display: flex;
  background-color: black;
  align-items: center;
}

#calculator {
  height: 75%;
  min-height: 500;
  background-color: #000000ff;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  margin-left: auto;
  margin-right: auto;
  gap: 0.40rem;
}

#calculator > * {
  font-size: 3.75rem;
  line-height: 1;
}

#calculator div.screen {
  grid-column: 1 / span 4;
  color: white;
  background-color: black;
  font-size: 9rem;
  line-height: 1;
  position: relative;
  min-height: 100px;
  padding: 10px 10px 10px 10px;
}

#calculator div.screen > .text {
  position: absolute;
  right: 0;
  bottom: 0;
  transform-origin: bottom right;
}

*, :after, :before {
  box-sizing: border-box;
  border: 0 solid #e2e8f0;
}

#calculator button {
  height: 95px;
  width: auto;
  border-radius: 9999px;
  color: white;
}

#calculator button:hover
{
  -webkit-filter: brightness(120%);
  filter: brightness(120%);
}

#calculator button.util {
  color: black;
  background-color: #E5E5E5ff;
}

#calculator button.operator {
  background-color: #FE9E06ff;
}

#calculator button.selected {
  color: #FE9E06ff;
  background-color: white;
}

#calculator button.digit {
  color: white;
  background-color: #727272;
}

#calculator button.digit.zero {
  grid-column: 1 / span 2;
}

#calculator .digit:last-of-type {
  background-color: black;
  border: black;
}
